{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Stop Stock</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body id="about-page-body" style="background-image: url('../static/about-blur-blurry.jpg');
                                background-repeat: repeat;    
                                background-size: 215%;
                                background-position: center center;">
    <div>
    <div id="headerhelp">
        <header id="header">
            <a class="navheading" href="{% url 'home' %}">Home</a>
            <a class="navheading" href="{% url 'about' %}">About</a>
            <a class="navheading" href="" id="rightmost-link">Contact</a>
        </header>
    </div>
    <div id="about-content" style="display: flex; flex-direction: row; margin: 200px 25px 25px;">
        <div id="about-left-side" style="width: 800px; height: 150px; background-color: rgba(20, 20, 20, 0.5); border-radius: 50px; justify-content: center;">
            <h2 style="margin-left: 20px; margin-top: 60px;">What is <em>One-Stop-Stock</em>?</h2>
        </div>
        <div id="space-between" style="width: 25px"></div>
        <div id="about-right-side" style=" width: 1500px; background-color: rgba(20, 20, 20, 0.5); padding: 5px; border-radius: 50px;">
            <div style="margin: 20px;">
            <p><em>One-Stop-Stock</em> aims to streamline anyones electronic shopping experience!</p>
            <p>
                Do you prefer the convenience of shopping online and picking up your 
                order at a nearby store? Do you ever find yourself endlessly browsing 
                online to find a nearby store that has a specific item you are looking 
                for? The main goal of <em>One-Stop-Stock</em> is to give online shoppers an easy and 
                convenient way to shop online and find the exact product they are 
                looking for in their area.
            </p>
            </div>
        </div>
    </div>
    <footer id="footer">
        <p id="contributers">Contibuters: Tristen Bizzaro, Ryan Phan, Ryley Gonzales</p>
    </footer> 
    </div> 
</body>
</html>