{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Stop Stock</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body style="background-image: url('./static/abstract-blur-supermarket.jpg')">
    <div>
    <div id="headerhelp">
    <header id="header">
        <a class="navheading" href="">Home</a>
        <a class="navheading" href="">About</a>
        <a class="navheading" href="" id="rightmost-link">Contact</a>
    </header>
    </div> 
    <div class="App">
        <h1 id="main-name">One Stop Stock</h1>
        <h3>Enter what product you would like to search for :</h3>
        <div class="user-input">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="store-item">
                <button type="submit" class="btn">Find Item</button>
            </form>
        </div>
        <div>
            {% if input %}
                <p>Showing results for : {{input}}</p>
            {% else %}
                <p>Waiting for item input...</p>
            {% endif %}
        </div>
    </div>
    <footer id="footer">
        <p id="contributers">Contibuters: Tristen Bizzaro, Ryan Phan, Ryley Gonzales</p>
    </footer> 
    </div>
</body>
</html>