{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Stop Stock</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<style>
    body{font-family: monospace, Arial, sans-serif;}
    a {color:#000000; text-decoration: none;}
    a:visited {color:#000000;}
    a:hover {color:#000000;}
    a:active {color:#000000;}
</style>
<body id="home-page-body" style="background: url('./static/abstract-blur-supermarket.jpg');
                                background-repeat: repeat;    
                                background-size: 215%;
                                background-position: center center;">
    <div>
        <div id="headerhelp">
            <header id="header">
                <a class="navheading" href="{% url 'home' %}" style="margin-left: 15px; ">Home</a>
                <a class="navheading" href="{% url 'about' %}">About</a>
            </header>
        </div> 
        <div style="display: flex; justify-content: center;">
            <div class="App" style="margin-top: 5%;">
                <h1 id="main-name">One Stop Stock</h1>
                <div id="ui">
                    <h3 style="margin-bottom: 10px;">Enter what product you would like to search for :</h3>
                    <div class="user-input">
                        <form action="" method="post" style="margin-top: 20px;">
                            {% csrf_token %}
                            <input type="text" name="store-item" placeholder="Enter item...">
                            <input type="text" name="location-zip" placeholder="Enter zipcode...">
                            <button type="submit" id="btn-send" class="btn btn-outline-dark" style="border-radius: 20px;">Find Item</button>
                        </form>
                    </div>
                    <div style="margin-top: 20px;">
                        {% if content %}
                            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                                {% for url in images %}
                                    <div>
                                        <img class="item-image" src="{{ url }}" alt="Item Image">
                                        {% for item in content %}
                                            {% if forloop.counter == forloop.parentloop.counter %}
                                                <div style="padding: 10px;">{{ item }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <!-- FIX ONCE WE HAVE MULTIPLE STORE SUPPORT -->
                        {% if store2 %}
                            <div style="width: 30vw;">Showing results for : {{store2}}</div>
                                {% for url in images2 %}
                                    <img class="item-image" src="{{ url }}" alt="Item Image">
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if store3 %}
                            <div style="width: 30vw;">Showing results for : {{store3}}</div>
                                {% for url in images3 %}
                                    <img class="item-image" src="{{ url }}" alt="Item Image">
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if store4 %}
                            <div style="width: 30vw;">Showing results for : {{store4}}</div>
                                {% for url in images4 %}
                                    <img class="item-image" src="{{ url }}" alt="Item Image">
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!--------------------------------------------->
                    </div>
                </div>
            </div>

            &nbsp
            <!-- JQuery -->
            <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

            <!-- Ajax Calls -->
            <script>
                jQuery(function($) {
                    $(document).ajaxSend(function() {
                        $("spinner-border");

                        var loading = `<div class="spinner-border" style="height:12px; width:12px;"></div>&nbsp;Please wait...`
                        $("#btn-send").html(loading);
                    });

                    $("#btn-send").click(function() {
                        $.ajax({
                            type: 'GET',
                            success: function(data) {
                                console.log(data);
                            }
                        }).done(function() {
                            setTimeout(function() {
                                $(".spinner-border");
                            }, 700);
                        });
                    });
                });
            </script>

        </div>
        <footer id="footer">
            <div id="contributers">Contibuters: Tristen Bizzaro, Ryan Phan, Ryley Gonzales</div>
        </footer> 
    </div>
</body>
</html>